<div class="tela-profile">
    <div class="tela-profile photo-profile">
        {{ render '@image--square'}}
    </div>

    <div class="tela-profile like-profile">
        {{ render '@like'}}
    </div>

    <div class="tela-profile informs-profile">
        {{ render '@card-profile'}}
    </div>


</div>