<div>

    <div class="favorites">
        {{#each this.list}}
        {{!-- <div style="width: 10%; display: inline-block"></div> --}}

        {{ render '@image--pet' this}}


        {{/each}}
    </div>
    <div class="name">
        {{ render '@name'}}

    </div>

</div>