<p class="text text__h5">
    50 news dogs for adopter
</p>

<p class="text">
    Evie is a sweet, young mixed breed that our team recently rescued off of the streets of Puerto Rico. She is sweet
    and playful!
    She is currently in Puerto Rico getting some extra love and affection white preparing for her trip to meet
</p>

<p class="text text--bold">Texto bold</p>

<p class="text text--letter-big">Texto Informs profile</p>