.btn-like{
    width: 35px;
    height: 35px;
    background-color:$color-white;
    border-radius: 50%;
    position: relative;
    box-shadow: 5px 5px 10px $color-shadow;

    &__heart{
        position: absolute;
        top: 11px;
        left: 9.5px;
    }
}

