.name-favorites{
    height: 10%;
    padding: 10px 0px;
    margin: 0 10px;
    font-size: 20px;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Nunito Sans', sans-serif;

}
