<div class="name-favorites">

    {{!-- <div class="name"> --}}

    <span>{{ name }}</span>

    {{!-- </div>
    <div class="sexo"> --}}
    <img src="/assets/arrow-down-black.png" alt="">
    {{!-- </div> --}}

</div>