h1, h2, h3, h4, h5, h6 {
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
}

h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 46px;
    color: black;
}

h2{
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: black;

    &.inverted{
        color: white;
    }
}

h3{
    font-size: 18px;
    color: black;
    font-weight: bold;
}
    