<div class="card-big">
    {{!-- {{ render '@image--square'}} --}}
    <div class="card-big__image">
        {{ render '@avatar'}}
    </div>
    <div class="card-big__name">
        <p class="text text__h5 text--white">Border Collie</p>
        <h2 class="text text__h2 text--white">Mailo</h2>

    </div>
</div>