<div class="card-big">
    {{!-- {{ render '@image--square'}} --}}
    <div class="card-big__image">
        {{ render '@avatar'}}
    </div>
    <div class="card-big__name">
        <p class="text race">Border Collie</p>
        <h2 class="inverted">Mailo</h2>

    </div>
</div>