/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato|Nunito+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.text--bold {
  font-weight: 500; }

.text--white {
  color: #fdfdfd; }

.text--underline:hover {
  text-decoration: underline; }

.text--pointer {
  cursor: pointer; }

.text__h1 {
  font-size: 24px; }

.name-favorites {
  height: 10%;
  padding: 10px 0px;
  margin: 0 10px;
  font-size: 20px;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Nunito Sans', sans-serif; }
  .name-favorites__icon {
    width: auto;
    height: 20px; }

.img {
  display: inline-block;
  width: 100%;
  height: auto; }
  .img--people {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto;
    padding: 2.5px;
    border: solid #81b7e4 2px; }

.img-wrapper--square {
  position: relative; }
  .img-wrapper--square::after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .img-wrapper--square img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.text {
  color: gray;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  font-family: 'Lato', sans-serif; }
  .text__h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 46px;
    color: #1e1e1e; }
  .text__h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: #1e1e1e; }
  .text__h3 {
    font-size: 18px;
    color: #1e1e1e;
    font-weight: bold; }
  .text__h4 {
    font-size: 16px;
    font-weight: bold;
    color: #1e1e1e; }
  .text__h5 {
    font-size: 16px; }
  .text--title {
    font-size: 20px;
    font-weight: bold; }
  .text--white {
    color: #fdfdfd; }

.btn {
  border: 1px solid #6fdcf0;
  background-color: #6fdcf0;
  box-shadow: 5px 5px 10px #c6d3d3;
  color: #fdfdfd;
  padding: 15px 50px;
  margin: 30px 0 30px 0;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box; }
  .btn--large {
    width: 100%; }

.btn-like {
  width: 35px;
  height: 35px;
  background-color: #fdfdfd;
  border-radius: 50%;
  position: relative;
  box-shadow: 5px 5px 10px #c6d3d3; }
  .btn-like__heart {
    position: absolute;
    top: 11px;
    left: 9.5px; }

.name-profile {
  width: 40%;
  height: 10%;
  padding: 10px 0px 30px 0px;
  font-size: 35px;
  font-weight: bold;
  display: inline-block; }
  .name-profile.informs {
    padding: 0 0 30px 0; }

.avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  padding: 0.2px;
  border: solid white 2px; }
  .avatar--title {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    padding: 2.5px;
    border: solid #6fdcf0 2px; }

.card-favorites {
  border-radius: 10px;
  width: 12%;
  height: 10%;
  box-shadow: 5px 5px 10px #c6d3d3;
  box-sizing: border-box;
  display: grid;
  overflow: auto;
  position: relative; }
  .card-favorites::after {
    content: "";
    display: block; }
  .card-favorites__image {
    max-height: 80%;
    object-fit: center; }
  .card-favoritesimg {
    height: 20px;
    width: 20px; }
  .card-favorites__name {
    width: 100%;
    height: auto; }

.card-big {
  background-image: url(/assets/pexels-photo9.jpeg);
  background-size: cover;
  border-radius: 10px;
  width: 25%;
  height: 400px;
  box-sizing: border-box;
  display: grid;
  overflow: hidden;
  position: relative; }
  .card-big__image {
    width: 100%;
    position: absolute;
    top: 20px;
    left: 20px; }
  .card-big__name {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 20px; }

.card-profile {
  padding: 10px;
  margin: 15px 15px;
  height: auto;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #fdfdfd; }
  .card-profile--informs {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 30px 0;
    margin: 0px; }

* {
  box-sizing: border-box; }
