<div class="favorites-name">

    {{!-- <div class="name"> --}}

    {{ name }}

    {{!-- </div>
    <div class="sexo"> --}}
    <img src="/assets/arrow-down-black.png" alt="">
    {{!-- </div> --}}

</div>