<div class="slider-fav-pets">

    <div class="slider-fav-pets__content">
        {{#each this.list}}

        {{ render '@card-big' this}}

        {{ render '@card-big' this}}

        {{ render '@card-big' this}}

        {{/each}}
    </div>
</div>