<div class="slider-fav-pets slider-fav-pets--mini">

    <div class="slider-fav-pets--mini__content">

        {{#each this.list}}

        {{ render '@card-favorites' this}}

        {{ render '@card-favorites' this}}

        {{ render '@card-favorites' this}}

        {{/each}}

    </div>
</div>