.photo-profile{
    position: relative;
    width: 100%;
    max-width: 767px;
    height: auto;   
}

.informs-profile{
    position: absolute;
    top: 70%;    
}

.like-profile{
    position: absolute;
    bottom: 30px;
    right: 30px;
}