.tela-profile{
    width: 100%;
    max-width: 767px;
    height: auto; 

    &.photo-profile{
    position: relative;
    top: 0;     
    }

    &.informs-profile{
    position: relative;
    top: -15px;  
    
        &.like-profile{
        position: absolute;
        top: -15px;
        left: 85%;
        }
    }
}
