<div>
    <div class="photo-profile">
        {{ render '@image--square'}}
    </div>

    <div class="informs-profile">
        {{ render '@card-profile'}}
    </div>

    <div class="like-profile">
        {{ render '@like'}}
    </div>
</div>