.card-favorites{
    border-radius: 10px;
    width: 12%;
    height: 10%;
    box-shadow: 5px 5px 10px $color-shadow;
    box-sizing: border-box;
    display: grid;
    overflow: auto;
    position: relative;
    
    &::after{
        content: "";
        display: block;
        // padding-bottom: 100%;
    }
    
    &__image{
        max-height: 80%;
        object-fit: center;

    }

    &img{
        height: 20px;
        width: 20px;
    }
    
    &__name{
        width: 100%;
        height: auto;
    }
}