<div class="card-favorites">
    <div class="image-card-favorites">
        {{ render '@image--pet--small'}}
    </div>
    <div class="name-favorites">
        {{ render '@name-favorites'}}
    </div>
</div>