<div class="card-favorites">
    <div class="card-favorites__image">
        {{ render '@image--square'}}
    </div>
    <div class="card-favorites__name">
        {{ render '@name-favorites'}}
    </div>
</div>