.card-profile{
    padding: 10px;
    margin: 15px 15px;
    height: auto;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: $color-white;

    &--informs{ 
        display: flex;
        justify-content: flex-start;
        padding: 0 0 30px 0;
        margin: 0px;
    }
}