<div class="card-profile">
    {{ render '@name-profile'}}
    <br>
    <div class="card-profile card-profile--informs">
        <div>
            <p class="text text__h4">Breed</p>
            <p class="text text__h5">Golden Retriever</p>
        </div>
        <hr>
        <div>
            <p class="text text__h4">Size</p>
            <p class="text text__h5">Medium</p>
        </div>
        <hr>
        <div>
            <p class="text text__h4">Age</p>
            <p class="text text__h5">1 Year, 4 months</p>
        </div>
    </div>
    <br>
    <p class="text">
        Evie is a sweet, young mixed breed that our team recently rescued off of the streets of Puerto Rico. She is
        sweet
        and playful!
        She is currently in Puerto Rico getting some extra love and affection white preparing for her trip to meet
    </p>
    <br>
    {{ render '@button'}}

</div>